div{
    height: 200px;
    width:200px;
    background-color: blueviolet;
    margin: 0 auto;

    animation-name: borderradius;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;



}
@keyframes borderradius{
    from{
    border-radius:2px;
    text-align:start ;
    background-color: blueviolet;
    border: 2px solid black;
    }
    to{
        border-radius:800px;
        text-align:center;
        background-color: palevioletred;
        border: 5px solid darkred;
    }
}

