/* *{
    background-color: palevioletred;
}
h1{
    color: d;
}
h1 #login{
    background-color: aqua;
}
h1 #signup{
    background-color: chartreuse;
}
input[type]{
    background-color: lightgreen;
    
}
#first{
    color: darkblue;
}
#second{
color: darkmagenta;
}
#third{
color: darkgreen;
}
#fourth{
color: darkorchid;
}
p{
    color: greenyellow;
}
p a{
    color: cyan;
}
h3{
    color: lightyellow;
}
span button{
    color: darkblue;
    background-color: darkgrey;
} */
 